@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
  --color-primary: #000;
  --color-background: #f7f7f7;
  --size-default: 1.5rem;
  --size-sm: 1rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: var(--color-background);
	font-family: 'Poppins', sans-serif;
    max-width: 100vw;
}

main {
    min-height: 80vh;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--size-sm) var(--size-default);
	width: 100%;
}

nav {
	list-style: none;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer {
    margin: var(--size-sm);
}

sub {
	color: var(--color-primary);
	font-size: .7rem;
	padding: var(--size-sm);
	text-align: left;
	width: 90%;
}

button {
	width: 90%;
    max-width: 300px;
	height: calc(var(--size-default) * 2);
	border-radius: 15px;
	margin-bottom: var(--size-sm);
    padding: var(--size-sm);
	font-size: 1rem;
	background-color: transparent;
	color: var(--color-primary);
	border: 1px solid var(--color-primary);
    cursor: pointer;
}

.header__menu {
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--color-background);
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: translateX(-100%);
}

.header__social {
    min-width: 20%;
    display: flex;
    justify-content: space-between;
}

.input {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
}

.input__textArea {
	width: 90%;
    max-width: 50rem;
	min-height: 20vh;
    max-height: 50vh;
	background-color: var(--color-background);
	border: none;
	color: var(--color-primary);
	font-size: 1.5rem;
	margin: var(--size-sm);
}

.input__textArea[contenteditable]:empty::before {
  content: "Digite um texto";
  color: gray;
}

.input__textArea:focus {
	outline: none;
}

.input__textArea:focus::placeholder {
	color: transparent;
}

.info {
    font-size: .8rem;
}

.input__buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
    padding: var(--size-default);
}

.input__criptografar {
	color: var(--color-background);
	background: var(--color-primary)
}

.output__container {
	width: 90vw;
	box-shadow: 0 5px 15px #252525;
	background-color: #fff;
	border-radius:10px;
	text-align: center;
}

.output__container lottie-player {
	display: none;
}

.output__container h2 {
    font-size: 1.5rem;
}

.output__container :is(h2, p) {
    padding: var(--size-default);
}

.output__text {
	font-size: 1.5rem;
	color: black;
	padding: var(--size-sm);
}

@media (min-width: 29rem) {
    button {
        width: 48%;
    }
    .header__menu {
        transform: translateX(0);
        position: static;
        height: 100%;
        width: 50%;
        margin-right: var(--size-default);
        flex-direction: row;
        justify-content: space-around;
    }
    .input__buttons {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 42rem) {
    button {
        margin: 0 var(--size-sm);
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
    }
    .input {
        width: 90%;
        margin: 0 auto;
    }
    .input__buttons {
        justify-content: center;
    }
    .output {
        width: 100%;
    }
    .output__container {
        width: 90%;
        min-height: 50vh;
        max-height: 80vh;
        background: #f7f7f7;
        border: 1px solid black;
    }
}

@media (min-width: 48rem) {
    .output__container lottie-player {
	    display: inline-block;
    }
}